:root {
  --primary: #315AE4;
  --secondary: #357FE0;
  --tertiary: #788585;
  --light-dark: #6F6866;
  --white: white;
  --border-radius: .3rem;
}
.app-title {
  font-size: 3rem;
  background: rgb(59,35,45);
  background: radial-gradient(circle, rgba(59,35,45,1) 6%, rgba(40,43,217,1) 100%);
  color: white;
  padding: 10px;
  text-align: center;
}
.card-body {
  /* padding: 6px 5px; */
  margin: 5px 0;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
}
.card h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cityname {
    padding: 7px;
    width: 200px;
}
.btn {
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 217px;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--white);
  border: none;
  outline: none;
  background-color: var(--secondary);
  transform: translate(-1px, -1px);
  cursor: pointer;
}

.forecast-day{
  border: 2px solid darkgray;
  border-radius: 1px;
  margin: 10px;
  padding: 5px 0 10px 10px;  /* top | right | bottom | left */
}

.cityname {
  align-items:flex-start;
  margin-bottom: 10px;
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.other-styles {
    line-height: 200%;
}


.forecast {
  display: inline-flex; 
  justify-content: space-between; 
  border: 2px solid;
}
.forecast-5day{
  display: inline-flex;
  /* border: 2px solid; */
  background-color: rgba(21, 39, 72, 0.952);
  color: white;
  margin: 10px;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  min-width: 150px;
  /* flex-wrap: wrap; */

}
.forecast-5day img{
  object-fit: contain;

}

/* .row {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  width: 100%;
} */
/* .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
} */











