:root {
  --primary: #315AE4;
  --secondary: #357FE0;
  --tertiary: #788585;
  --light-dark: #6F6866;
  --white: white;
  --border-radius: .3rem;
}
.app-title {
  font-size: 3rem;
  background: rgb(59,35,45);
  background: radial-gradient(circle, rgba(59,35,45,1) 6%, rgba(40,43,217,1) 100%);
  color: white;
  padding: 0 10px;
  text-align: center;
}
.card-body {
  /* padding: 6px 5px; */
  margin: 5px 0;
  margin-bottom: 10px;
  border-radius: var(--border-radius);
}
.card h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cityname {
    padding: 7px;
    width: 200px;
}
.btn {
  font-size: 1.3rem;
  text-decoration:none;
  padding: 6px 5px;
  width: 217px;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--white);
  border: none;
  outline: none;
  background-color: var(--secondary);
  transform: translate(-1px, -1px);
  cursor: pointer;
}

.forecast-day{
  border: 2px solid darkgray;
  border-radius: 1px;
  margin: 20px;
  padding: 5px 0 10px 10px;  /* top | right | bottom | left */
}

/* FLEX CONTENT */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* /* .justify-space-between {
  justify-content: space-between;
} */

/* .justify-space-around {
  justify-content: space-around;
} */

/* .justify-flex-start {
  justify-content: flex-start
} */

/* .justify-flex-end {
  justify-content: flex-end;
} */

/* .justify-center {
  justify-content: center;
}  */


.forecast {
  display: flex; /* or inline-flex */
  justify-content: space-between; /* Can be changed in the live sample */
  border: 2px solid;
  margin: 20px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1
}











